/* Global nav styles */
.main-nav {
	width: 100%;
	position: relative;
	background-color: var(--light-text);
}

.top-nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
}

/* Centered BOAS logo */
.logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

/* Left nav list */
.top-nav-wrapper img {
	width: auto;
}

.top-nav-wrapper ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-nav-wrapper ul li button {
	border: none;
	margin: 10px;
	font-size: 1rem;
	padding: 0.4rem;
	cursor: pointer;
	transition: font-size ease 0.4s;
	background: transparent;
	color: var(--dark-text);
	border-radius: 0;
}

.top-nav-wrapper ul li button:hover {
	font-size: 110%;
	transition: font-size ease 0.5s;
}

.burger-menu {
	display: none;
}

.active {
	border-bottom: 1px solid black !important;
	transition: all ease 0.1s;
}

/* Right nav list */
.right-bar {
	font-weight: 200;
	align-items: center;
}

.right-bar li {
	padding: 0.5rem;
	cursor: pointer;
}

.right-bar-elements {
	display: flex;
	align-items: center;
	position: relative;
}

.right-bar-elements span {
	position: absolute;
	top: 10px;
	left: 12px;
	font-size: 9px;
	font-weight: 400;
	background-color: var(--accent-green);
	padding: 0.07rem 0.25rem;
	border-radius: 100%;
	color: var(--light-text);
}

@media only screen and (max-width: 990px) {
	.hide-on-response {
		display: none;
	}

	.right-bar-elements {
		margin: 0 0.25rem;
	}
}

@media only screen and (max-width: 808px) {
	.left-bar li button img {
		display: none;
	}
}

@media only screen and (max-width: 680px) {
	.burger-menu {
		display: block;
	}

	.top-nav-wrapper .left-bar {
		display: none;
	}
	.right-bar-elements p {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.hide-at-500px {
		display: none;
	}

	.top-nav-wrapper {
		padding: 0 1rem;
	}
}
