/* Secondary bar global styles */
.secondary-bar {
	width: 100%;
	position: relative;
	z-index: 1000;
	background-color: var(--light-text);
}

.secondary-bar ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.dropdown-trigger {
	padding: 1rem;
}

.dropdown-trigger:hover .dropdown {
	display: block;
}

.dropdown-trigger a {
	padding: 0.5rem;
}

.main-sub-type {
	font-weight: 400;
}

.main-sub-type:hover {
	padding: 1rem;
	border-bottom: 2px solid black;
	transition: all 0.2s ease;
}

@media only screen and (max-width: 808px) {
	.dropdown-trigger {
		padding: 1rem 0.5rem;
	}
}

@media only screen and (max-width: 680px) {
	.secondary-bar {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.dropdown-trigger {
		font-size: 0.75rem;
		padding: 1rem 0.15rem;
	}
}

/* For single column dropdown menus */
.dropdown {
	position: absolute;
	top: 3.5rem;
	background: var(--light-text);
	width: 9rem;
	text-align: left;
	display: none;
	border-bottom: 2px solid var(--dark-text);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.single-column-dropdown-item {
	display: block;
	font-weight: 200;
}

.single-column-dropdown-item:hover {
	transform: rotate(2deg);
	transition: all 0.1s ease;
}

.single-column-dropdown-item:nth-child(1) {
	font-weight: 400;
}

@media only screen and (max-width: 680px) {
	.dropdown {
		top: 3rem;
	}
}

@media only screen and (max-width: 770px) {
	.dropdown {
		right: 0;
	}
}

/* For full width dropdown menus */
.full-width-dropdown {
	width: 100%;
	background-color: var(--light-text);
	position: absolute;
	border-bottom: 2px solid black;
	top: 3.5rem;
	left: 0;
	right: 0;
	display: none;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	padding-bottom: 0.5rem;
	text-align: left;
}

.full-width-dropdown-column {
	display: flex;
	flex-direction: column;
}

.full-width-dropdown-column-item {
	display: flex;
	flex-direction: row;
	font-weight: 200;
}

.full-width-dropdown-column-item:hover {
	transform: rotate(2deg);
	transition: all 0.1s ease;
}

.full-width-dropdown-column-item:nth-child(1) {
	font-weight: 400;
}

.dropdown-trigger:hover .full-width-dropdown {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}

@media only screen and (max-width: 680px) {
	.full-width-dropdown {
		top: 3rem;
	}
}
