.secondary-bar {
	width: 100%;
	position: relative;
	z-index: 1000;
	background-color: var(--light-text);
}

.secondary-bar ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.dropdown-trigger {
	padding: 1rem;
}

.dropdown-trigger:hover .dropdown {
	display: block;
}

.dropdown-trigger a {
	padding: 0.5rem;
}

.main-sub-type {
	font-weight: 400;
}

.main-sub-type:hover {
	padding: 0.5rem;
	border-bottom: 2px solid black;
	transition: all 0.2s ease;
}

.dropdown {
	position: absolute;
	top: 3.5rem;
	background: var(--light-text);
	width: 9rem;
	text-align: left;
	display: none;
	border-bottom: 2px solid var(--dark-text);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	/* z-index: 1000; */
}

.single-column-dropdown {
	display: block;
	font-weight: 200;
}

.single-column-dropdown:hover {
	transform: rotate(2deg);
	transition: all 0.1s ease;
}

.full-width-dropdown {
	width: 100%;
	background-color: var(--light-text);
	position: absolute;
	border-bottom: 2px solid black;
	top: 3.5rem;
	left: 0;
	right: 0;
	display: none;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	padding-bottom: 0.5rem;
}

.full-width-dropdown-column {
	display: flex;
	flex-direction: column;
}

.full-width-column-dropdown {
	display: flex;
	flex-direction: row;
	font-weight: 200;
}

.full-width-column-dropdown:hover {
	transform: rotate(2deg);
	transition: all 0.1s ease;
}

.full-width-column-dropdown:nth-child(1) {
	font-weight: 400;
}

.single-column-dropdown:nth-child(1) {
	font-weight: 400;
}

.dropdown-trigger:hover .full-width-dropdown {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
