nav {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--light-text);
}

.top-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
	padding: 0 1rem;
}

.top-nav ul {
	border: 1px solid grey;
	display: flex;
	justify-content: space-between;
}

.top-nav ul li button {
	border: none;
	margin: 10px;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	padding: 0.4rem;
	cursor: pointer;
	transition: font-size ease 0.4s;
	background: transparent;
}

.top-nav ul li button:hover {
	font-size: 110%;
	transition: font-size ease 0.5s;
}

.active {
	border-bottom: 1px solid black !important;
	transition: all ease 0.1s;
}
