.main-nav {
	width: 100%;
	position: relative;
	background-color: var(--light-text);
}

.top-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border: 1px solid black; */
	padding: 0 2rem;
}

.top-nav img {
	width: auto;
}

.top-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-nav ul li button {
	border: none;
	margin: 10px;
	font-size: 1rem;
	padding: 0.4rem;
	cursor: pointer;
	transition: font-size ease 0.4s;
	background: transparent;
	color: var(--dark-text);
	border-radius: 0;
}

.top-nav ul li button:hover {
	font-size: 110%;
	transition: font-size ease 0.5s;
}

.active {
	border-bottom: 1px solid black !important;
	transition: all ease 0.1s;
}

.right-bar {
	font-weight: 200;
	align-items: center;
}

.right-bar li {
	padding: 0.5rem;
}

.right-bar-elements {
	display: flex;
	align-items: center;
	position: relative;
}

.right-bar-elements span {
	position: absolute;
	top: -5px;
	left: 12px;
	font-size: 9px;
	font-weight: 400;
	background-color: var(--accent-green);
	padding: 0.07rem 0.25rem;
	border-radius: 100%;
	color: var(--light-text);
}
